.header1 {
  background-color: darkslategray;
}
.header1 a {
  color: white;
}

.header2 {
  background-color: darkblue;
  padding: 20px 0;
}
.first {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.search-button {
  background-color: orange;
}
.bi-search {
  color: white;
}
.blue-border {
  border: 1px solid #33adff;
}
.places-list {
  background-color: #33adff;
  color: white;
}

.place {
  color: #33adff;
}
.light-weight {
  font-weight: lighter;
}
